@import url();
:root {
  --font-p: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  --font-s: "banhscrift", "Arial Narrow", Arial, sans-serif;
  --color-1: #a43030;
  --color-2: #800000;
  --color-3: #6a6a6a;
  --color-4: #fff;
}
html * {
  box-sizing:border-box;
  margin: 0;
  text-decoration: none;
  color: #080a0d;
  font-size: 18px;
}

body {
    background-color: var(--color-2);
}

h1,
h2,
h3 {
  font-family: var(--font-p);
}
p,
a {
  font-family: var(--font-s);
}
header {
  background-color: var(--color-2);
  padding: 1.3rem;
}
.logo-q{
    display: none;
}
.nav-bar {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
}
.logo {
  display: flex;
  align-items: center;
  grid-area: 1 / 1 / 2 / 2;
}
.logo img {
  max-width: 45px;
  height: auto;
  display: block;
  border: solid 1px transparent;
  border-radius: 100%;
}

.nav-links {
  
  padding-top: 1rem;
  padding-bottom: 1rem;
  list-style: none;
  gap: 20px;
  grid-area: 1 / 2 / 2 / 9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.nav-links a {
  font-family: var(--font-p);
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  color: var(--color-2);
  font-size: 18px;
  border: #ffffff;
  border-radius: 10px;
  padding: 10px 20px;
  transition: 0.5s;
  cursor: pointer;
}

.nav-links a:hover {
  background-color: var(--color-1);
  color: #080a0d;
}

.hero-content {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 3fr;
  grid-column-gap: 2px;
  grid-row-gap: 0px;
  position: relative;
  z-index: 2;
  height: 650px;
}

.AVA-container {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: -0.5rem;
  margin-bottom: 0.5%;
  padding: 2rem;
  background-image: url(/img/muestra-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(16, 45, 114, 0.3);
  background-blend-mode: multiply;
}

.Instalaciones-container {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding: 2rem;
  margin-bottom: 1%;
  background: url(/img/muestra_01.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(16, 45, 114, 0.3);
  background-blend-mode: multiply;
}

.AVA-container h1 {
  font-size: 3rem;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.AVA-container h2 {
  font-size: 1.2rem;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  font-weight: bold;
}
.AVA-container a {
  background-color: var(--color-4);
  color: #080a0d;
  font-size: 18px;
  border: #ffffff;
  border-radius: 10px;
  padding: 10px 20px;
  transition: 0.5s;
  cursor: pointer;
  font-weight: bold;
}
.AVA-container a:hover {
  background-color: var(--color-1);
  color: #080a0d;
  border: #080a0d;
  transition: 0.5s;
  cursor: pointer;
  margin: 1%;
}

.Instalaciones-container h1 {
  font-size: 3rem;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.Instalaciones-container h2 {
  font-size: 1.2rem;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  font-weight: bold;
}
.Instalaciones-container a {
  background-color: var(--color-4);
  color: #080a0d;
  font-size: 18px;
  border: #ffffff;
  border-radius: 10px;
  padding: 10px 20px;
  transition: 0.5s;
  cursor: pointer;
  font-weight: bold;
}
.Instalaciones-container a:hover {
  background-color: #8db3d9;
  color: #080a0d;
  border: #080a0d;
  transition: 0.5s;
  cursor: pointer;
  margin: 2%;
}
.abrir-menu, 
.cerrar-menu {
  display: none;
}

.marcas{
  margin: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-1);
}

.marcas-container h2{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.marcas-logos{
  display: flex;
  align-items: center;
  height: 100px;
  gap: 15rem;
  padding: 1rem;
}

.marcas img{
  max-width: 100px;
  height: 4rem;
}

.info {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-family: var(--font-p);
}
.h1-info{
    font-family: var(--font-s);
    font-size: x-large;
    padding: 1rem;
    background-color: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: start;
}

.info p{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 1rem;
    background-color: var(--color-1);
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-1);
  width: 100%;
  height: 500px;
  gap : 1rem;
  padding-left: 1rem;
  padding-right: 5rem;
}

.form-items{
  border: 1px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
}

.form button{
  background-color: #fff;
  color: var(--color-2);
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map{
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: var(--color-1);
  width: 100%;
  gap : 1rem;
  padding: 1rem;
}

footer {
  background-color: var(--color-2); /* Match header color */
  color: #fff;
  padding: 20px;
  text-align: center;
  font-family: var(--font-s);
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
}
.social-icons a:hover{
  color: var(--color-1);
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .footer-links {
      flex-direction: column;
      gap: 10px;
  }
}

@media (max-width: 768px) {

  header {
    padding: .5rem;
  }

  .abrir-menu,
  .cerrar-menu {
   display: block;
   border: 0;
   font-size: 1.3rem;
   background-color: transparent;
   cursor: pointer;
   }

 .nav-bar{
   display: flex;
   width: 100%;
   align-items: end;
   justify-content: space-between;
   background-color: var(--color-1);   

}

 .abrir-menu{
   width: 50px;
   margin-bottom: .5rem;
   background-color:var(--color-1);
   border: transparent solid;
   border-radius: 10px;
}

 .wrap_nav-ul {
   visibility: hidden;
   opacity: 0;
   position: absolute;
   display: flex;
   flex-direction: column;
   align-items: end;
   padding: 1rem 0 1rem 1rem;
   top: 0;
   right: 0;
   bottom: 0;
   background-color: var(--color-1);
   box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
   transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Add this line */
   transform: translateX(10%); /* Changed from 5 to 100% */
 }
 
 .wrap_nav-ul.active {
   visibility: visible;
   opacity: 1;
   transform: translateX(0);

 }
 
 .logo{
   display: none;
 }

 .logo-q {
   display: flex;
   align-items: start;
   width: 100%; 
}
.logo-q img{
   max-width: 100px;
   height: 3rem;
}

 .nav-links {
  padding:2rem;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 2rem;
   position: relative; /* Add this line */
   z-index: 10; /* Add this line */
 }
 .nav-links a {
   background-color: transparent;
   padding: 5px 0 5px 0;
 }
 .nav-links a:hover {
   background-color: transparent;
   padding: 5px 0 5px 0;
}

@media (max-width: 768px) {
 .hero {
   height: 600px;
 }
 .hero-content {
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr;
   gap: 10px;
 }
 .AVA-container {
   grid-area: 1/1/2/2;
   justify-content: center;
   align-items: center;
 }
 .Instalaciones-container {
   grid-area: 2/1/3/2;
   justify-content: center;
   align-items: center;
   margin-right: .1rem;
 }
 .AVA-container h1 {
   font-size: 2.5rem;
 }
 .AVA-container h2 {
   font-size: 1.2rem;
 }
 .Instalaciones-container h1 {
   font-size: 2.5rem;
 }
}
  .info {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .h1-info {
    justify-content: center;
    text-align: center;
    font-size: large;
  }

  .info p {
    justify-content: center;
    text-align: center;
    padding: 1rem;
  }

  .map{
    display: none;
  }

  .form{
    display: flex;
    padding: 2rem;
;
  }

  /* Styles for .marcas */
  .marcas {
    margin-top: 60px;
  }

  .marcas-container h2 {
    font-size: 1.2rem;
    text-align: center;
  }

  .marcas-logos {
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
  }

  .marcas img {
    max-width: 80px;
    height: auto;
  }
}